.account-summary-page {
  margin-top: 30px;
  .account-summary-title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    margin-bottom: 20px;

    .title-icon {
      margin-right: 10px;
    }
  }

  .account-summary-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
  }

  .input-icon {
    position: relative;

    .input-icon-prefix {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: #6c757d;
    }

    input {
      padding-left: 40px;
    }
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;

    &:hover {
      background-color: #218838;
      border-color: #218838;
    }
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;

    &:hover {
      background-color: #5a6268;
      border-color: #5a6268;
    }
  }
}

.footer-custom {
  position: static;
  margin-top: 40px;
}